<!DOCTYPE html>
<html>
 <head lang="en">
    <link rel="stylesheet" type="text/css" href="static/css/notes.css">
     <meta charset="UTF-8">
     <title>Notes</title>
  </head>
   <body>
     <div class="container">
       <h1>Welcome to Notes!</h1>
        <ul class="menu">
          <li>Hello, <b>{{user}}</b></li>
          <li><a href="{{logout_url}}">Logout</a></li>
          <li><a href="/shrink">Shrink images</a></li>
         </ul>

         {% for note in notes %}
         <div class="note">
          <p>Title: {{note.title}}</p>
          <p>Content: {{note.content}}</p>

          {% if note.files %}
          <ul>
            {% for file in note.files %}

            {% if file.get().thumbnail_url %}
              <li class="file"><a href="{{ file.get().url }}"><img src="{{ file.get().thumbnail_url }}"></a></li>
            {% else %}
            <li class="file"><a href="{{file.get().url}}"> {{ file.get().name }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
          {%endif%}      

         {% if note.checklist_items %}
            <ul>
            {% for item in note.checklist_items %}
            <li class="{% if item.get().checked %} checked {%endif%}"> {{item.get().title}}</li>
            {%endfor%}
            </ul>
          {% endif %}
          </div>
         {% endfor %}
         <h4>Add a new note</h4>
         <form action="" method="post" enctype='multipart/form-data'>
         <div class="form-group">
           <label for="title">Title</label>
           <input type="text" name="title">
         </div>
         <div class="form-group">
           <label for="content">Content</label>
           <input type="text" name="content">
         </div>
         <div class="form-group">
            <label for="checklist_items">Checklist items:</label>
            <input type="txt" id="checklist_items" name="checklist_items" placeholder="comma, separated, values">
          </div>
          <div class="form-group">
            <label for="uploaded_file">Attached file:</label>
            <input type="file" name="uploaded_file" id="uploaded_file">
          </div>
         <div class="form-group">
           <button type="submit">Save note</button>
         </div>
      </div>
  </body>
</html>